<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bysj.mapper.BillMapper" >
  <resultMap id="BaseResultMap" type="com.bysj.pojo.Bill" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userId" property="userid" jdbcType="INTEGER" />
    <result column="accountid" property="accountid" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="typeid" property="typeid" jdbcType="INTEGER" />
    <result column="time" property="time" jdbcType="DATE" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="num" property="num" jdbcType="DOUBLE" />
    <result column="member" property="member" jdbcType="VARCHAR"/>
  </resultMap>
  <sql id="Base_Column_List" >
    id, userId, accountid, type, typeid, time, remark, num,member
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from Bill
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from Bill
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bysj.pojo.Bill" >
    insert into Bill (id, userId, accountid, 
      type, typeid, time, remark, 
      num,member)
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{accountid,jdbcType=INTEGER}, 
      #{type,jdbcType=VARCHAR}, #{typeid,jdbcType=INTEGER}, #{time,jdbcType=DATE}, #{remark,jdbcType=VARCHAR}, 
      #{num,jdbcType=DOUBLE},#{member,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bysj.pojo.Bill" >
    insert into Bill
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="accountid != null" >
        accountid,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="typeid != null" >
        typeid,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="member!=null">
      	member,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="accountid != null" >
        #{accountid,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="typeid != null" >
        #{typeid,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        #{time,jdbcType=DATE},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        #{num,jdbcType=DOUBLE},
      </if>
      <if test="member!=null">
      	#{member,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bysj.pojo.Bill" >
    update Bill
    <set >
      <if test="userid != null" >
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="accountid != null" >
        accountid = #{accountid,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="typeid != null" >
        typeid = #{typeid,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=DATE},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=DOUBLE},
      </if>
      <if test="member!=null">
      	member=#{member,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bysj.pojo.Bill" >
    update Bill
    set userId = #{userid,jdbcType=INTEGER},
      accountid = #{accountid,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      typeid = #{typeid,jdbcType=INTEGER},
      time = #{time,jdbcType=DATE},
      remark = #{remark,jdbcType=VARCHAR},
      num = #{num,jdbcType=DOUBLE},
      member=#{member,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 该日期区间的支出 -->
  <select id="selectPayByDayRegion" resultType="java.lang.Double">
  <![CDATA[ 
  	select SUM(num) 
  	from Bill 
  	where 
  	userId = #{userId,jdbcType=INTEGER} 
  	and time >= #{startDay,jdbcType=DATE} 
  	and time <= #{endDay,jdbcType=DATE}
  	and type = 1
  ]]>
  </select>
  
  <!-- 该日期区间的收入 -->
  <select id="selectIncomeByDayRegion" resultType="java.lang.Double">
  <![CDATA[ 
  	select SUM(num) 
  	from Bill 
  	where 
  	userId = #{userId,jdbcType=INTEGER} 
  	and time >= #{startDay,jdbcType=DATE} 
  	and time <= #{endDay,jdbcType=DATE}
  	and type = 0
  ]]>
  </select>
  
  <!-- 今天收入 -->
  <select id="selectIncomeByday" resultType="java.lang.Double">
  	select SUM(num) 
  	from Bill 
  	where 
  	userId = #{userId,jdbcType=INTEGER} 
  	and time = #{date,jdbcType=DATE} 
  	and type = 0
  </select>
  
   <!-- 今天支出 -->
  <select id="selectPayByday" resultType="java.lang.Double">
  	select SUM(num) 
  	from Bill 
  	where 
  	userId = #{userId,jdbcType=INTEGER} 
  	and time = #{date,jdbcType=DATE} 
  	and type = 1
  </select>
  
  <!-- 该类型月支出 -->
  <select id="selectMonthPayByTypeId" resultType="java.lang.Double">
  	<![CDATA[ 
  	select SUM(num) 
  	from Bill b,Sort s 
  	where 
  	s.id = b.typeId
  	and b.userId = #{userId,jdbcType=INTEGER}
  	and (b.typeId = #{typeId,jdbcType=INTEGER} or s.parentid = #{typeId,jdbcType=INTEGER})
  	and b.time >= #{startDay,jdbcType=DATE} 
  	and b.time <= #{endDay,jdbcType=DATE}
  	and b.type = 1
  ]]>
  </select>
  
  <!-- 按条件查询 -->
  <select id="selectByEx" resultMap="BaseResultMap" parameterType="com.bysj.pojo.example.BillEx" >
    select 
    <include refid="Base_Column_List" />
    from Bill where userId = #{userId}
    <if test="startDay!=null">
    and time>=#{startDay}
    </if>
    <if test="endDay!=null">
    <![CDATA[and time<= #{endDay}]]>
    </if>
    <choose>
    	<when test="member=='全部'">
    	</when>
    	<when test="member=='家庭公共'">
    	and member=#{member}
    	</when>
    	<otherwise>
    	and member=#{userId}
    	</otherwise>
    </choose>
    <choose>
    	<when test="type=='支出'">
    	and type ='1'
    	</when>
    	<when test="type=='收入'">
    	and type = '0'
    	</when>
    	<when test="type=='全部'">
    	</when>
    </choose>
    order by time
  </select>
  
  <select id="selectHomeSumByEx" resultType="java.lang.Double" parameterType="com.bysj.pojo.example.BillEx">
  	select SUM(num)
    from Bill where userId = #{userId}
    <if test="startDay!=null">
    and time>=#{startDay}
    </if>
    <if test="endDay!=null">
    <![CDATA[and time<= #{endDay}]]>
    </if>
    	and member='家庭公共'
    	and type ='1'
  </select>
  
  <select id="selectPaySumByEx" resultType="java.lang.Double" parameterType="com.bysj.pojo.example.BillEx">
  	select SUM(num)
    from Bill where userId = #{userId}
    <if test="startDay!=null">
    and time>=#{startDay}
    </if>
    <if test="endDay!=null">
    <![CDATA[and time<= #{endDay}]]>
    </if>
    	and member=#{userId}
    	and type ='1'
  </select>
  
  
</mapper>